In [1]:
# First I loaded the sql extention into our environment

%load_ext sql

In [2]:
# Then connect to our sqlite database memory

%sql sqlite://

'Connected: @None'

In [4]:
import csv
import pandas as pd

In [16]:
# to upload the file

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', 'r') as f:
  Uganda_Karamoja_Subcounty_Crop_Yield_Population = pd.read_csv(f, index_col = 0, encoding= 'utf-8')

In [18]:

# next step is to drop the existing table similar to one in the current sqlite environment

%sql DROP TABLE if EXISTS Uganda_Karamoja_Subcounty_Crop_Yield_Population;
%sql PERSIST Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda_karamoja_subcounty_crop_yield_population'

In [25]:
# a preview of the table limit 6
%%sql
SELECT * FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population limit 6

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139)]

In [26]:
# Generating list of Sub Counties and their population and areas limit 4 

%%sql
SELECT SUBCOUNTY_NAME, POP, Area from Uganda_Karamoja_Subcounty_Crop_Yield_Population limit 4

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591)]

In [27]:

# Here am sorting the list of districts by total crop area (descending order)
# limit 10 entries 
%%sql
SELECT DISTRICT_NAME from Uganda_Karamoja_Subcounty_Crop_Yield_Population
ORDER BY Crop_Area_Ha	DESC limit 10

 * sqlite://
Done.

[('KOTIDO',), ('KOTIDO',), ('KOTIDO',), ('KOTIDO',), ('KOTIDO',), ('KOTIDO',)]

In [29]:
# Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum

# here I want to select sub counties, then I need to show their production of sorghum
# BUT only those from Moroto district and 
# Then Order them alphabetically
# 

%%sql
SELECT SUBCOUNTY_NAME, S_Prod_Tot	from Uganda_Karamoja_Subcounty_Crop_Yield_Population

 * sqlite://
Done.

[('KACHERI', 2279091.779),
 ('KOTIDO', 4582294.492),
 ('KOTIDO TOWN COUNCIL', 561476.4874),
 ('NAKAPERIMORU', 1915695.928),
 ('PANYANGARA', 3779939.224),
 ('RENGEN', 3515788.789)]

In [30]:


# Compute the total Maize production per District

# here I selected the total maize production per district
# limit 7

%%sql
SELECT DISTRICT_NAME, SUM(M_Prod_Tot) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('KOTIDO', 2010179.0731479998)]

In [31]:
# QUESTION: Compute the number of Sub counties where Maize is produced and the total Maize production per District. 
  
# to calculate the number of sub counties where maize is produced

%%sql
SELECT count(SUBCOUNTY_NAME) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Prod_Tot is NOT NULL

 * sqlite://
Done.

[(6,)]

In [32]:
%%sql
SELECT SUBCOUNTY_NAME M_Prod_Tot, COUNT(SUBCOUNTY_NAME) from Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DISTRICT_NAME DESC

 * sqlite://
Done.

[]